body {
  	font-family: 'Inter', sans-serif;
  	min-width: 320px;
  	background-color: #2A2C2F;
  	color: #ffffff;
  	margin: 0;
  	padding: 0;
}

img {
  	max-width: 100%;
}

ul {
	list-style: none;
	padding-left: 0;
}

p, h2, h3, ul, blockquote {
	margin: 0;
}
